.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

/* the below keyframes cause the top and bottom bars in the square to form an X while 
   middle bar disappears*/
/* hover over the square and the top bar moves from the upper right to lower right */
@keyframes top {
  from {transform:(45deg);}
  to {rotate: 45deg; transform-origin: -7% 200%;}
}


/* hover over the square and the middle bar disappears by changing it's opacity */
@keyframes middle {
  from {opacity:100%}
  to {opacity:0%}
}

/* hover over the square and the bottom bar moves from the lower right to the upper right*/
@keyframes bottom {
  from {transform:(0deg);}
  to {rotate: -45deg; transform-origin: -5% -100%;}
}

